name: "Test and deploy"
on:
  push:
    branches:
      - main
      - bugfix/FWUV-159/whiteListAuthenticatorSupportForPostLogin

jobs:
  package:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Build with Maven
        run: mvn --batch-mode package

  publish:
    needs: package
    outputs:
      publishedVersion: ${{ steps.check-release.outputs.version }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Get maven group
        id: get-group
        uses: mavrosxristoforos/get-xml-info@1.0
        with:
          xml-file: 'pom.xml'
          xpath: "//*[local-name()='project']/*[local-name()='groupId']"
      - name: Get version
        id: get-version
        uses: mavrosxristoforos/get-xml-info@1.0
        with:
          xml-file: 'pom.xml'
          xpath: "//*[local-name()='project']/*[local-name()='properties']/*[local-name()='projectVersion']"
      - name: Get modules
        id: get-modules
        uses: mavrosxristoforos/get-xml-info@1.0
        with:
          xml-file: 'pom.xml'
          xpath: "//*[local-name()='project']/*[local-name()='modules']/*[local-name()='module']"
      - name: Check release exists
        id: check-release
        run: |
          rm modules.txt || true
          TAG=${{ steps.get-version.outputs.info }}
          echo "TAG: $TAG"
          response=$(curl --silent -H 'Accept: application/vnd.github.v3+json' "https://api.github.com/repos/FWU-DE/fwu-kc-extensions/releases/tags/$TAG")
          message=$(echo $response | jq -r .message)
          echo "Message: $message"
          if [ "$message" = "Not Found" ]; then
            echo "version=$TAG" >> $GITHUB_OUTPUT
            IFS="," read -a modules <<< ${{ steps.get-modules.outputs.info }}
            for module in ${modules[@]}; do
              echo "Found module: $module"
              if [ "$module" != "fwu-kc-extensions" ]; then
                echo "$module/target/$module-$TAG.jar" >> modules.txt
              fi
            done
            csv=$(paste -s -d , modules.txt)
            echo "Generated CSV: $csv"
            echo "artifacts=$csv" >> $GITHUB_OUTPUT
          else
            echo "Release $TAG already exists!"
          fi
      - name: Publish Gitlab release
        if: ${{ steps.check-release.outputs.version != '' }}
        env:
          GITLAB_HOST: ${{ secrets.GITLAB_HOST }}
          GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}
          GITLAB_PROJECT_ID: ${{ secrets.GITLAB_PROJECT_ID  }}
          GROUP_NAME: ${{ steps.get-group.outputs.info }}
          ARTIFACTS: ${{ steps.check-release.outputs.artifacts }}
          VERSION: ${{ steps.check-release.outputs.version }}
        run: |
          group=${GROUP_NAME/.//}
          IFS=',' read -ra archives <<< $ARTIFACTS
          for archive in ${archives[@]}
          do
              filename=${archive##*/}
              artifact=${filename%-*}
              curl --request PUT \
                  --upload-file ${archive} \
                  --header "Deploy-Token: ${GITLAB_TOKEN}" \
                  "https://${GITLAB_HOST}/api/v4/projects/${GITLAB_PROJECT_ID}/packages/maven/${group}/${artifact}/${VERSION}/${filename}"
          done
  startImageBuild:
    needs: publish
    if: ${{ needs.publish.outputs.publishedVersion }} != ""
    runs-on: ubuntu-latest
    steps:
      - name: Trigger image build and deployment on Gitlab
        env:
          GITLAB_TRIGGER_TOKEN: ${{ secrets.GITLAB_TRIGGER_TOKEN }}
          GITLAB_PROJECT_ID: ${{ secrets.GITLAB_PROJECT_ID  }}
        run: curl -X POST --fail -F token=${GITLAB_TRIGGER_TOKEN} -F ref=dev -F variables[CI_COMMIT_SHA]=${{ needs.publish.outputs.publishedVersion }} "https://gitlab.com/api/v4/projects/${GITLAB_PROJECT_ID}/trigger/pipeline"

